* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(#44a2fa, #001bb3);
  color: #f6f6f6;
  font-family: "Source Sans", sans-serif;
  font-size: 1rem;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  width: 100%;
  height: 100%;
}

header div {
  display: inline;
  text-align: center;
}

.search,
.search-button {
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 15px;
  height: 50px;
}

.search {
  background-color: rgba(255, 255, 255, 0.4);
  color: #04013b;
  min-width: 225px;
  transition: background-color 0.3s ease-in-out;
}

.search:focus {
  background-color: rgba(255, 255, 255, 0.7);
}

.search-button {
  background-color: #1f12ac;
  border: 1px solid #f6f6f6;
  color: #e0e0e0;
  cursor: pointer;
  margin-left: 5px;
  min-width: 80px;
  transition: all 0.3s ease-in-out;
}

.search-button:hover {
  border: 2px solid #04013b;
  background-color: #bdbcbc;
  color: #120c5c;
}

main {
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 25px;
  margin-top: 20px;
  min-width: 310px;
  text-align: center;
  display: none;
}

.city {
  color: #f2f2f2;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.temperature {
  border-bottom: 2px dashed #f2f2f2;
  color: #f2f2f2;
  font-size: 5.8rem;
  font-weight: 800;
  margin: 30px 0px;
}

.temp-symbol {
  font-size: 5.5rem;
  font-weight: 500;
}

.condition {
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
  text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}

.subdegree {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.7rem;
  margin: 4px 25px;
}

.temp-degree {
  font-size: 1.5rem;
}
